<body>
  <h1>New Post</h1>

  <% if @current_user %>
    <%= form_with :model => @post do |form| %>
      <%= form.hidden_field "place_id" %>
      <p>
        <%= form.label "title" %>
        <%= form.text_field "title" %>
      </p>
      <p>
        <%= form.label "description" %>
        <%= form.text_field "description" %>
      </p>
      <p>
        <%= form.label "posted_on" %>
        <%= form.date_field "posted_on" %>
      </p>
      <p>
        <%= form.label "uploaded_image", :class => "form-label" %>
        <%= form.file_field "uploaded_image", :accept => "image/png,image/jpg,image/jpeg,image/gif", :class => "form-control" %>
      </p>
      <div class="mt-5">
        <p>
          <button type="submit" class="btn btn-outline-dark">Upload a New Post</button>
        </p>
      </div>
    <% end %>
  <% else %>
    You must first <a href="/login" class="link-success">login</a> to post.
  <% end %>
</body>
